.index {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index button {
  width: 148px;
}

.index::after {
  background: #f26d6d;
  content: '';
  height: 200%;
  width: 700vw;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -108%) rotate(30deg);
  color: white;
  text-align: center;
  line-height: 150px;
}